# Answer (No. 1)

In [ ]:
#Number 1
import sqlite3
import pandas as pd

def createDB():
    # Create SQL connection to SQLite database
    con = sqlite3.connect("transaction_data.sqlite", timeout=20)
    c = con.cursor()
    # Create DB
    c.execute('''CREATE TABLE IF NOT EXISTS transactions
                 (
                     [id] INTEGER ,
                     [insert_time] DATETIME,
                     [tx_amount] float,
                     [tx_type] varchar(25),
                     [status] varchar(25)
                 )
              ''')
    con.commit()

# Insert Data (sample)
def insertData():
    con = sqlite3.connect("transaction_data.sqlite", timeout=20)
    c = con.cursor()
    data = [
                (1, "2021-06-21 09:05:00", 34, "buy" , "open"),
                (4, "2021-06-21 11:25:40", 20, "sell" , "close"),
                (1, "2021-06-22 09:05:00", 10, "sell" , "open"),
                (3, "2021-06-22 13:00:09", 20, "buy" , "close"),
                (2, "2021-06-23 10:10:10", 50, "buy" , "close"),
                (2, "2021-06-23 15:05:07", 2, "buy" , "open"),
                (4, "2021-06-24 14:32:01", 8, "sell" , "open"),
                (3, "2021-06-25 11:31:31", 13, "sell" , "close")
    ]
    c.executemany('''INSERT INTO transactions(id, insert_time, tx_amount, tx_type , status) VALUES(?,?,?,?,?)''', data)
    con.commit()

# Select data (the latest transaction for each id)
def selectData():
    con = sqlite3.connect("transaction_data.sqlite", timeout=20)
    c = con.cursor()
    c.execute('''
            SELECT * FROM transactions
            GROUP BY id
            HAVING(MAX(insert_time))
          ''')
    results = c.fetchall()
    df=pd.DataFrame(results,columns=['id','insert_time','tx_amount','tx_type','status'])
    print(df)

#Call all functions
createDB()
insertData()
selectData()

   id          insert_time  tx_amount tx_type status
0   1  2021-06-22 09:05:00       10.0    sell   open
1   2  2021-06-23 15:05:07        2.0     buy   open
2   3  2021-06-25 11:31:31       13.0    sell  close
3   4  2021-06-24 14:32:01        8.0    sell   open

# Answer (No. 2)

In [ ]:
#Number 2
import sqlite3
import pandas as pd


def createDB():
    # Create a SQL connection SQLite database
    con = sqlite3.connect("sales_data.sqlite", timeout=20)
    c = con.cursor()
    # Create DB
    c.execute('''CREATE TABLE IF NOT EXISTS sales_data
                 (
                     [date] DATE,
                     [sales] INT
                 )
              ''')
    con.commit()
    
# Insert Dataset
def insertData():
    con = sqlite3.connect("sales_data.sqlite", timeout=20)
    c = con.cursor()
    data = [
                ("2021-01-01",100),
                ("2021-01-02",34),
                ("2021-01-02",123),
                ("2021-01-02",134),
                ("2021-01-03",145),
                ("2021-01-03",24),
                ("2021-01-04",541),
                ("2021-01-04",636),
                ("2021-01-05",322),
                ("2021-01-06",242),
                ("2021-01-07",22),
                ("2021-01-08",46)
    ]
    c.executemany('''INSERT INTO sales_data(date,sales) VALUES(?,?)''', data)
    con.commit()

# Select data (the latest transaction for each id)
def selectData():
    con = sqlite3.connect("sales_data.sqlite", timeout=20)
    c = con.cursor()
    c.execute('''
            SELECT date, sum(sales) FROM sales_data
            GROUP BY date
            order by date
          ''')
    results = c.fetchall()
    df=pd.DataFrame(results,columns=['Date','Sales'])
    print(df)

#Clear function
def flushDB():
    con = sqlite3.connect("sales_data.sqlite", timeout=20)
    c = con.cursor()
    c.execute('''DELETE FROM sales_data''')
    con.commit()

#Call all functions
createDB()
insertData()
selectData()
flushDB();

         Date  Sales
0  2021-01-01    100
1  2021-01-02    291
2  2021-01-03    169
3  2021-01-04   1177
4  2021-01-05    322
5  2021-01-06    242
6  2021-01-07     22
7  2021-01-08     46

#Answer (No. 3)

In [ ]:
#Number 3
import requests
import pandas as pd

url="https://github.com/lynilla/python_praticecase_pretrain_iykradf6/raw/master/dataset_c_python_practicecase.json"
df=pd.read_json(url)

#create data for CSV
data1=[]
data2=[]
data3=[]
for idx, row in df.iterrows():
  data2.append([df["user"][idx]["id"] , df["user"][idx]["name"] , df["user"][idx]["email"]])
  # Loop txs
  for txs in row["txs"]:
    user_id=df["user"][idx]["id"]
    data1.append([user_id, txs["id"]])
    data3.append([txs["id"],txs["tx_date"],txs["tx_amount"],txs["tx_type"]])

#create CSV     
csv1 = pd.DataFrame(data1, columns = ['User_ID', 'TX_ID'])
csv1.to_csv('csv_1.csv')

csv2=pd.DataFrame(data2, columns = ['User_ID', 'Name','Email'])
csv2.to_csv('csv_2.csv')

csv3=pd.DataFrame(data3,columns=['TX_ID','TX_Date','TX_Amount','TX_Type'])
csv3=csv3.sort_values(by='TX_ID')
csv3.to_csv('csv_3.csv')